body {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0.95) 100%), url(images/laptop-on-desk.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}
/* icons */
#github {
    position: fixed;
    width: 2.3vmax;
    top: 0.85vmin;
    left: 1vmax;
}

#in {
    position: fixed;
    width: 2vmax;
    top: 1vmin;
    left: 4vmax;
}

#mail {
    position: fixed;
    width: 8vmax;
    top: 1vmin;
    left: 7vmax;
}
/* links */
.textlink {
    position: fixed;
    color: snow;
    font-size: 2Vmax;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

#bigbang {
    position: fixed;
    top: 1vmin;
    right: 1vmax;
}

#book {
    position: fixed;
    bottom: 1vmin;
    right: 1vmax;
}

#parsinegar {
    position: fixed;
    bottom: 1vmin;
    left: 1vmax;
}
/* text */
p {
    position: fixed;
    color: snow;
    font-family: 'Roboto Condensed', sans-serif;
}

.name {
    position: fixed;
    font-size: 8vw;
    top: 5vh;
}

.first {
    left: 25vw;
}

.last {
    left: 52vw;
}

.introduction {
    position: fixed;
    font-size: 1.5vw;
}

.one {
    position: fixed;
    top: 45vh;
    left: 37.5vw;
}

.two {
    position: fixed;
    top: 50vh;
    left: 21.5vw;
}

.three {
    position: fixed;
    top: 55vh;
    left: 12vw;
}

@media only screen and (max-width: 991px) {
    
    body {
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.8) 50%,rgba(0,0,0,0.95) 100%), url(images/laptop-on-desk.jpg);
        background-size: 100vw 100vh;
        background-attachment: scroll;
    }
    /* icons */
    #github {
        position: fixed;
        width: 5vmax;
        top: 1vmin;
        left: 1vmax;
    }

    #in {
        position: fixed;
        width: 4.5vmax;
        top: 1.25vmin;
        left: 7vmax;
    }

    #mail {
        position: fixed;
        width: 19vmax;
        top: 0.9vmin;
        left: 13vmax;
    }
    /* links */
    .textlink {
        position: fixed;
        color: snow;
        font-size: 3Vmax;
        text-decoration: none;
        font-family: 'Roboto Condensed', sans-serif;
    }

    #bigbang {
        position: fixed;
        top: 1vmin;
        right: 1vmax;
        font-size: 5vmax;
    }

    #book {
        position: fixed;
        bottom: 1vmin;
        right: 1vmax;
    }

    #parsinegar {
        position: fixed;
        bottom: 1vmin;
        left: 1vmax;
    }
    /* text */
    p {
        position: fixed;
        color: snow;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .name {
        position: fixed;
        font-size: 20vw;
    }

    .first {
        top: 10vh;
        left: 5vw;
    }

    .last {
        top: 25vh;
        left: 35vw;
    }

    .introduction {
        position: fixed;
    }

    .one {
        top: 55vh;
        left: 12vw;
        font-size: 4.3vw;
    }

    .two {
        top: 65vh;
        left: 25vw;
        font-size: 3.5vw;
    }

    .three {
        top: 73vh;
        left: 5vw;
        font-size: 3vw;
    }

}