body {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.85) 100%), url(images/laptop-on-desk.jpg);
    background-size: 200vw 100vh;
    background-attachment: scroll;
    padding: 0;
    margin: 0;
}
/* icons */
#github {
    position: fixed;
    width: 6vw;
    top: 4vh;
    left: 4vw;
}

#in {
    position: fixed;
    width: 6vw;
    top: 4vh;
    left: 13vw;
}

#mail {
    position: fixed;
    width: 23vw;
    top: 4vh;
    left: 23vw;
}
/* links */
.textlink {
    position: fixed;
    color: snow;
    font-size: 5vw;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

.sub {
    font-size: 4vw;
}

#blog {
    font-size: 5vw;
    top: 4vh;
    right: 6vw;
}

#blogline {
    background-color: snow;
    position: fixed;
    width: 15vw;
    height: 0.2vh;
    top: 8vh;
    right: 3vw;
}

.linksbox {
    position: fixed;
    overflow: hidden;
}

#myblogbox {
    width: 15vw;
    height: 5vh;
    right: 3vw;
    top: 8vh;
}

#bigbangbox {
    width: 15vw;
    height: 5vh;
    right: 3vw;
    top: 13vh;
}

#myblog {
    position: absolute;
    top: 1vh;
    left: 1.5vw;
}

#bigbang {
    position: absolute;
    top: 1vh;
    left: 1.1vw;
}

#bookline {
    background-color: snow;
    position: fixed;
    width: 47vw;
    height: 0.2vh;
    bottom: 8vh;
    right: 3vw;
}

#ketabnakbox {
    width: 47vw;
    height: 5vh;
    right: 3vw;
    bottom: 8vh;
}

#ketabrahbox {
    width: 47vw;
    height: 5vh;
    right: 3vw;
    bottom: 13vh;
}

#ketabnak {
    position: absolute;
    top: 1vh;
    left: 5vw;
}

#ketabrah {
    position: absolute;
    top: 1.2vh;
    left: 4.3vw;
}

#book {
    bottom: 4vh;
    right: 6vw;
}

#parsinegar {
    bottom: 4vh;
    left: 6vw;
}
/* text */
.text {
    top: 20vh;
    left: 2vw;
    position: fixed;
    width: 96vw;
    background-color: rgba(255,255,255,0.1);
    height: 50vh;
    border-radius: 2vw;
}

p {
    position: fixed;
    left: 6vw;
    color: snow;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    font-size: 5vw;
    line-height: 4.5vh;
}

p.name {
    position: fixed;
    font-size: 6vw;
    bottom: 28vh;
    left: 60vw;
    width: 37vw;
}

@keyframes appearance {
  from {color: transparent;}
  to {color: snow;}
}