body {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.85) 100%), url(images/laptop-on-desk.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}
/* icons */
#github {
    position: fixed;
    width: 2vw;
    top: 5vh;
    left: 4vw;
}

#in {
    position: fixed;
    width: 1.7vw;
    top: 5.3vh;
    left: 7vw;
}

#mail {
    position: fixed;
    width: 7.7vw;
    top: 5vh;
    left: 9.7vw;
}
/* links */
.textlink {
    position: fixed;
    color: snow;
    font-size: 1.5vw;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

.sub {
    font-size: 1.2vw;
}

#blog {
    top: 5vh;
    right: 4vw;
}

#blogline {
    background-color: snow;
    position: fixed;
    width: 6.5vw;
    height: 0.2vh;
    top: 9vh;
    right: 2vw;
    z-index: 1;
}

.linksbox {
    position: fixed;
    overflow: hidden;
    z-index: 0;
}

#myblogbox {
    width: 6.5vw;
    height: 5vh;
    right: 2vw;
    top: 9vh;
}

#bigbangbox {
    width: 6.5vw;
    height: 5vh;
    right: 2vw;
    top: 14vh;
}

#myblog {
    position: absolute;
    top: 1vh;
    left: 1.5vw;
}

#bigbang {
    position: absolute;
    top: 0.5vh;
    left: 1.5vw;
}

#bookline {
    background-color: snow;
    position: fixed;
    width: 16.5vw;
    height: 0.2vh;
    bottom: 9vh;
    right: 2vw;
}

#ketabnakbox {
    width: 16.5vw;
    height: 5vh;
    right: 2vw;
    bottom: 9vh;
}

#ketabrahbox {
    width: 16.5vw;
    height: 5vh;
    right: 2vw;
    bottom: 14vh;
}

#ketabnak {
    position: absolute;
    top: 1vh;
    left: 2.6vw;
}

#ketabrah {
    position: absolute;
    top: 1.2vh;
    left: 2.2vw;
}

#book {
    bottom: 5vh;
    right: 4vw;
}

#parsinegar {
    bottom: 5vh;
    left: 4vw;
}
/* text */
p {
    position: fixed;
    color: snow;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    top: 45vh;
    font-size: 1.5vw;
    line-height: 5vh;
    width: 100vw;
}

p.name {
    left: 34vw;
    width: 32vw;
    top: 20vh;
    font-size: 5vw;
}